.title {
  font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 100;
  font-size: 48px;
  line-height: 72px;
  color: white;
}

.text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.text_black {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}