.title {
  font-family: 'Montserrat', sans-serif;
  //font-family: 'Cormorant', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 72px;
  color: white;
  @include screen(tablet){
    font-size: 48px;
  }
}

.text {
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.text_black {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}